{% extends "layout.html" %} {% block body %}

<h3>Hakkımızda</h3>
<p>
    Gelişen sanayi ve hizmet sektörlerinin kapsam değiştiren insan gücü ihtiyaçlarını karşılamak üzere alınan kararlar doğrultusunda Kütahya Teknik Bilimler Meslek Yüksekokulu 1975-76 eğitim-öğretim yılında Milli Eğitim Bakanlığı YAYKUR yükseköğretim kurumuna bağlı olarak kurulmuş; 1982 yılında Anadolu Üniversitesi bünyesinde olan Meslek Yüksekokulumuz, 1992 yılında  Dumlupınar Üniversitesi bünyesine alınmıştır.

    Yükseköğretim Kurulu Başkanlığı’nın 30.11.2011 tarihli Genel Kurul toplantısında incelenen ve 2547 Sayılı Kanun’la değişik 7/d-2 ve 7/h maddeleri uyarınca Kütahya Meslek Yüksekokulunun adı Kütahya Teknik Bilimler Meslek Yüksekokulu olarak değiştirilmiştir.
    
    Kütahya Teknik Bilimler Meslek Yüksekokulu, Türkiye’ deki üniversiteler bünyesinde yer alan meslek yüksekokullarının içinde en seçkin, bölgesine en büyük katkıyı sağlayan fiziksel ve teknolojik donanımlarının yanında, 36 akademik, 12 idari personel, 8 bölüm, 10 program ve 2173 öğrencisiyle eğitim - öğretim hizmeti veren kurumların başında gelmektedir. Kütahya Teknik Bilimler Meslek Yüksekokulu bünyesinde 8 bölüm, 10 program bulunmaktadır.
</p>
<hr> {% endblock body %}